
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/discord.xml
.idea/cars_management.iml
.idea/.idea.cars_management.dir/.idea/workspace.xml
.idea/.idea.cars_management.dir/.idea/vcs.xml
.idea/.idea.cars_management.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.cars_management.dir/.idea/misc.xml
.idea/.idea.cars_management.dir/.idea/indexLayout.xml
.idea/.idea.cars_management.dir/.idea/encodings.xml
.idea/.idea.cars_management.dir/.idea/discord.xml
.idea/.name
